@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*{ margin: 0; padding: 0;}
body{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;

-moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  background: #eee;
}

.calculator{
    padding: 10px;
    margin: 50px auto 0;
    border: 2px solid blue;
    width: 280px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.calculator .display{
    height: 60px;
    width: 100%;
    box-shadow: 2px 2px 2px inset grey;
}
input{
	font-size: 1.5rem;
	color:#333;
}
.btn {
	font-size: 1.5rem;
	color: #00ff00;
    background-color: black;
	width: 60px;
    padding: 0.1rem;
    border: none;
    border-radius: 0.2rem;
    font-size: 12px;
    height: 35px;
    cursor: pointer;
}
.num{
    background-color: gray;
    border: none;
    border-radius: 0.2rem;
}
.header{
    
        background: #fff;
        padding: 60px 30px;
        color: #333;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        line-height: 1.5;
        text-align: center;
}
.made{
    border: none !important;
    text-align: center;
}
a{
    text-decoration: none;
    color: blue;
    font-family: "Helvetica Neue",Helvetica,Arial;
}
@media only screen and (min-width: 720px){
    main{
      max-width: 720px;
      margin-left: auto;
      margin-right: auto; 
      padding: 24px;
    }
    .calculator{
        margin: 50px auto 0;
        border: 2px solid blue;
        width: 200px;
        box-sizing: border-box;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}